<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil incidunt quidem officia dolores dicta ipsa facilis accusamus sapiente! Aliquam maxime labore earum exercitationem vero voluptas tenetur maiores, error quas.
  Quam voluptatibus quod quo dolorem reiciendis accusamus asperiores libero quaerat sapiente itaque architecto possimus ut saepe cumque quae iure dolorum ullam pariatur accusantium maxime, illo sit dolor? Nesciunt, alias qui.
  Dignissimos totam soluta quam. Unde maxime vel assumenda recusandae ducimus nulla dolores doloribus fuga natus quo consequuntur perspiciatis voluptates at cupiditate enim non veniam, iure corrupti praesentium accusamus! Molestias, debitis.
  Nemo qui quae, neque sunt sapiente excepturi, temporibus odit ab voluptates reiciendis aut tempora ad est soluta praesentium dicta repudiandae mollitia possimus et quia assumenda veniam nobis, perferendis sed? Asperiores.
</p>